/*
1) GLOBAL STYLES 
2) BUTTONS
*/

/* ===========
  1) GLOBAL STYLES
  =========== */
// font-weight
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}
// section-spacing
.s-py {
  padding-top: 120px;
  padding-bottom: 120px;
  @media (max-width: 992px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.s-py-20 {
  @media (max-width: 992px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
// headings

.title1 {
  font: normal normal bold 48px/60px Poppins;
  letter-spacing: 0px;
  color: #e1001e;
  opacity: 1;
}
.title-2 {
  font: normal normal bold 30px/50px Poppins;
  letter-spacing: 0px;
  color: #050101;
  opacity: 1;
}
.para1 {
  font: normal normal normal 24px/36px Poppins;
  letter-spacing: 0px;
  color: #050101;
  opacity: 1;
}
.para2 {
  font: normal normal bold 18px/30px Poppins;
  letter-spacing: 0px;
  color: #050101;
}

/* ===========
  2) BUTTONS
  =========== */
.btn-capsule {
  border-radius: 50px;
}

.btn-sm {
  padding: 5px 24px;
  font-size: 15px;
  font-weight: 500;
}
.btn-md {
  padding: 7px 27px;
  font-size: 18px;
  font-weight: 500;
}
.btn-lg {
  padding: 9px 30px;
  font-size: 22px;
  font-weight: 500;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited {
  color: $primary;
  background-color: $white;
  border-color: $primary;
  box-shadow: none !important;
  outline: none !important;
}
.btn-outline-primary {
  border-color: $primary;
  color: $primary;
  border-width: 2px;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:visited {
  background-color: $primary;
  border-color: $primary;
  box-shadow: none !important;
  outline: none !important;
}

.btn-white {
  background-color: $white;
  border-color: $white;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white:visited {
  color: $white;
  background-color: $white;
  border-color: $white;
  box-shadow: none !important;
  outline: none !important;
  color: $primary;
}
.btn-outline-white {
  border-color: $white;
  color: $white;
  border-width: 2px;
}
.btn-outline-white:hover,
.btn-outline-white:focus,
.btn-outline-white:active,
.btn-outline-white:visited {
  background-color: $white;
  border-color: $white;
  color: $primary;
  box-shadow: none !important;
  outline: none !important;
}

// Text-content-card
.text-content-card {
  padding-right: 30px;
  h2 {
    font: normal normal bold 30px/30px Poppins;
    letter-spacing: 0px;
    color: #ffffff;
    line-height: 34px;
  }
  p {
    font: normal normal normal 18px/30px Poppins;
    letter-spacing: 0px;
    color: #ffffff;
  }
}

// work-content-card
.work-content-card {
  border-radius: 5px;
  min-height: 320px;
  display: flex;
  align-items: flex-end;
  position: relative;
  .content {
    margin-left: 32px;
    margin-bottom: 30px;
    .card-number {
      font: normal normal bold 36px/30px Poppins;
      letter-spacing: 0px;
      color: #e1001e;
      opacity: 1;
    }
    h3 {
      font: normal normal bold 24px/30px Poppins;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
    }
  }
}

// Section 12 styles
#section-12 {
  background: url("../img/section9/bg.jpg");
  background-position: center;
  background-size: cover;
  h3 {
    font: normal normal bold 40px/60px Poppins;
    letter-spacing: 0px;
  }
  button {
    padding: 15px 30px;
    font-weight: bold;
    margin-top: 30px;
  }
  img {
    bottom: -97px;
    right: 0;
  }
  @media (max-width: 992px) {
    img {
      right: unset;
      left: calc(100% - 166px);
    }
  }
}

// Footer styles
#footer {
  .para {
    font: normal normal normal 16px/30px Poppins;
    letter-spacing: 0px;
  }
}

// footer spacing
.f-p {
  padding: 70px 90px;
  @media (max-width: 992px) {
    padding: 40px;
  }
}

// margins
.mb4 {
  margin-bottom: 20px;
}

// Tabs
.tabs {
  margin-top: 60px;
}

.tab {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: -1px 1px 0px #05010133;
  border-radius: 0px 0px 0px 10px;
  border-bottom: #05010133;
  margin-top: 1px;
  width: calc(100% - 20px);
  .tab-body {
    padding: 2px 30px 40px 30px;
    font: normal normal normal 18px/24px Poppins;
    color: $dark;
  }
  .tab-button {
    text-decoration: none;
    position: relative;
    display: block;
    padding-left: 31px;
    padding-top: 29px;
    padding-bottom: 18px;
    font-weight: 800;
    color: $primary;
    padding-right: 20px;
    &:hover {
      color: $dark;
      .caret svg {
        fill: $dark;
      }
    }
    .caret {
      transform: rotateX(0deg);
      transition: 0.3s all ease-in-out;
      position: absolute;
      right: 0px;
      svg {
        fill: $primary;
      }
    }
  }
  .tab-button.collapsed {
    color: $dark;
    span svg {
      fill: $dark;
    }
    .caret {
      transform: rotateX(180deg);
      transition: 0.3s all ease-in-out;
    }
    &:hover {
      color: $primary;
      .caret svg {
        fill: $primary;
      }
    }
  }
}

// Colors
.clr-p {
  color: $primary;
}
.clr-w {
  color: $white;
}
.clr-d {
  color: $dark;
}
