@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif;
}

/* ===========
  1) GLOBAL STYLES
  =========== */
.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.s-py {
  padding-top: 120px;
  padding-bottom: 120px;
}

@media (max-width: 992px) {
  .s-py {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 992px) {
  .s-py-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.title {
  font: normal normal bold 90px/90px Poppins;
  letter-spacing: 0px;
}

@media (max-width: 992px) {
  .title {
    font: normal normal bold 48px/40px Poppins;
  }
}

.sub-title {
  font: normal normal bold 48px/90px Poppins;
  letter-spacing: 0px;
}

@media (max-width: 992px) {
  .sub-title {
    font: normal normal bold 30px/40px Poppins;
  }
}

.title1 {
  font: normal normal bold 48px/60px Poppins;
  letter-spacing: 0px;
  color: #e1001e;
  opacity: 1;
}

@media (max-width: 767px) {
  .title1 {
    font: normal normal bold 30px/36px Poppins;
  }
}

.title2 {
  font: normal normal bold 30px/50px Poppins;
  letter-spacing: 0px;
  color: #050101;
  opacity: 1;
}

.para1 {
  font: normal normal normal 24px/36px Poppins;
  letter-spacing: 0px;
  color: #050101;
  opacity: 1;
}

@media (max-width: 767px) {
  .para1 {
    font: normal normal normal 16px/20px Poppins;
  }
}

.para2 {
  font: normal normal bold 18px/30px Poppins;
  letter-spacing: 0px;
  color: #050101;
}

/* ===========
  2) BUTTONS
  =========== */
.btn-capsule {
  border-radius: 50px;
}

.btn-sm {
  padding: 5px 24px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}

.btn-md {
  padding: 9px 27px;
  font-size: 24px;
  font-weight: 500;
}

.btn-lg {
  padding: 30px 50px;
  font-size: 30px;
  line-height: 25px;
  font-weight: 500;
}

.btn-primary {
  background-color: #e1001e;
  border-color: #e1001e;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited {
  color: #e1001e;
  background-color: #fff;
  border-color: #fff;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.btn-outline-primary {
  border-color: #e1001e;
  color: #e1001e;
  border-width: 2px;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:visited {
  background-color: #e1001e;
  border-color: #e1001e;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.btn-white {
  background-color: #fff;
  border-color: #fff;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white:visited {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  color: #e1001e;
}

.btn-outline-white {
  border-color: #fff;
  color: #fff;
  border-width: 2px;
}

.btn-outline-white:hover,
.btn-outline-white:focus,
.btn-outline-white:active,
.btn-outline-white:visited {
  background-color: #fff;
  border-color: #fff;
  color: #e1001e;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.text-content-card {
  padding-right: 30px;
}

.text-content-card h2 {
  font: normal normal bold 30px/30px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  line-height: 34px;
}

.text-content-card p {
  font: normal normal normal 18px/30px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .text-content-card {
    text-align: center;
  }
  .text-content-card h2 {
    font: normal normal bold 24px/24px Poppins;
  }
  .text-content-card p {
    font: normal normal normal 16px/24px Poppins;
  }
}

.work-content-card {
  border-radius: 5px;
  min-height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.work-content-card .content {
  margin-left: 32px;
  margin-bottom: 30px;
}

.work-content-card .content .card-number {
  font: normal normal bold 36px/30px Poppins;
  letter-spacing: 0px;
  color: #e1001e;
  opacity: 1;
}

.work-content-card .content h3 {
  font: normal normal bold 24px/30px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.work-content-card .custom-image {
  position: absolute;
  right: -85px;
  z-index: 1;
  top: 70px;
}

@media (max-width: 768px) {
  .work-content-card .custom-image {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    right: unset;
    top: unset;
    left: 28%;
    margin: 0 auto;
    bottom: -30px;
  }
  .work-content-card .custom-image img {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .work-content-card {
    min-height: 250px;
  }
}

.card-with-image {
  position: relative;
  border-radius: 10px;
}

.card-with-image .overlay {
  position: relative;
}

.card-with-image .overlay .content {
  position: absolute;
  bottom: 15px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
}

section#top-message {
  background-color: #e1001e;
  color: white;
  padding: 10px;
  text-align: center;
}

section#top-message ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section#top-message ul li p {
  font-size: 18px;
  line-height: 25px;
}

@media (max-width: 767px) {
  section#top-message ul li {
    display: block;
  }
}

@media (min-width: 768px) {
  section#top-message ul li {
    display: inline-block;
  }
  section#top-message ul li:nth-last-child(1) {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  section#top-message ul li {
    margin: 5px 0px;
  }
}

section#section4 {
  background: transparent url("./../img/eliminate back.jpg") 0% 0% no-repeat padding-box;
  background-size: cover;
}

section#section4 .top-content h3 {
  text-align: center;
  font: normal normal bold 24px/36px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  section#section4 .top-content h3 {
    font: normal normal bold 24px/36px Poppins;
  }
}

section#section4 .top-content h2 {
  text-align: center;
  font: normal normal bold 48px/60px Poppins;
  letter-spacing: 0px;
  color: #e1001e;
  opacity: 1;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  section#section4 .top-content h2 {
    font: normal normal bold 30px/36px Poppins;
  }
}

section#section5 .top-content h2 {
  margin-bottom: 60px;
}

section#section5 .work-content-card-1 {
  background-image: url("./../img//Mask Group 5.jpg");
  background-size: cover;
}

section#section5 .work-content-card-2 {
  background-image: url("./../img/02.png");
  background-size: cover;
}

section#section5 .work-content-card-3 {
  background-image: url("./../img/03.png");
  background-size: cover;
}

section#section6 {
  background: #f2f2f2 0% 0% no-repeat padding-box;
}

section#section6 .top-content h2 {
  margin-bottom: 60px;
}

section#section6 .phoenix-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#section6 .phoenix-tabs .nav-link {
  font: normal normal bold 30px/30px Poppins;
  letter-spacing: 0px;
  color: #050101;
  opacity: 1;
  padding-bottom: 20px;
  border: 2px transparent;
}

section#section6 .phoenix-tabs .nav-link:hover {
  background: none;
}

section#section6 .phoenix-tabs .nav-link.active {
  background: none;
  border: none;
  border-bottom: 2px solid #e1001e;
  font: normal normal bold 30px/30px Poppins;
  letter-spacing: 0px;
  color: #e1001e;
  opacity: 1;
}

@media (max-width: 768px) {
  section#section6 .phoenix-tabs {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section#section6 .phoenix-tabs .nav-link {
    font: normal normal bold 18px/30px Poppins;
  }
  section#section6 .phoenix-tabs .nav-link.active {
    font: normal normal bold 18px/30px Poppins;
  }
}

section#section6 .progress {
  height: 10px !important;
  border-radius: 32px !important;
}

section#section6 .progress-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#section6 .progress-1 label {
  font: normal normal bold 18px/30px Poppins;
  letter-spacing: 0px;
  color: #e1001e;
  opacity: 1;
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}

section#section6 .progress-1 .progress {
  -webkit-box-flex: 75%;
      -ms-flex: 75%;
          flex: 75%;
}

@media (max-width: 768px) {
  section#section6 .progress-1 label {
    -webkit-box-flex: 28%;
        -ms-flex: 28%;
            flex: 28%;
    font: normal normal bold 16px/30px Poppins;
  }
  section#section6 .progress-1 .progress {
    -webkit-box-flex: 72%;
        -ms-flex: 72%;
            flex: 72%;
  }
}

section#section6 .progress-g {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#section6 .progress-g label {
  font: normal normal normal 18px/30px Poppins;
  letter-spacing: 0px;
  color: #050101;
  opacity: 1;
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}

section#section6 .progress-g .progress {
  -webkit-box-flex: 75%;
      -ms-flex: 75%;
          flex: 75%;
}

@media (max-width: 768px) {
  section#section6 .progress-g label {
    -webkit-box-flex: 28%;
        -ms-flex: 28%;
            flex: 28%;
    font: normal normal normal 16px/20px Poppins;
  }
  section#section6 .progress-g .progress {
    -webkit-box-flex: 72%;
        -ms-flex: 72%;
            flex: 72%;
  }
}

section#section6 .outer {
  text-align: right;
}

section#section6 .zero {
  font: normal normal bold 18px/24px Poppins;
  letter-spacing: 0px;
  color: #050101;
  opacity: 1;
}

@media (max-width: 767px) {
  section#section6 #myTab {
    margin: 0 -12px;
  }
}

section#section6 .progress-bar {
  border-radius: 32px;
}

section#section7 .body-content .body-top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#section7 .body-content .body-top-content h2 {
  font: normal normal bold 30px/50px Poppins;
  letter-spacing: 0px;
  color: #050101;
  opacity: 1;
}

@media (max-width: 767px) {
  section#section7 .body-content .body-top-content h2 {
    font: normal normal bold 24px/36px Poppins;
    margin-bottom: 0px;
  }
}

section#section7 .image {
  position: relative;
}

section#section7 .image .circle-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

section#section7 .image .circle-icon a {
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  width: 75px;
  height: 75px;
  background: #b6817c 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 3px 3px 6px #00000029;
          box-shadow: 3px 3px 6px #00000029;
  opacity: 1;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  -webkit-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

section#section7 .image .circle-icon a svg {
  left: 4px;
  position: relative;
  -webkit-transition: ease-out all 0.3s;
  transition: ease-out all 0.3s;
}

section#section7 .image .circle-icon a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section#section7 .image .circle-icon a:hover svg {
  -webkit-transition: ease-out all 0.3s;
  transition: ease-out all 0.3s;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

section#section8 {
  background: #f2f2f2 0% 0% no-repeat padding-box;
}

section#section8 .top-content h2 {
  margin-bottom: 60px;
}

section#section8 .bdr-round {
  border-radius: 8px;
}

#header {
  background-image: url("../img/header/heroimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#header .underlne {
  border-bottom: 3px solid #e1001e;
}

@media (min-width: 767px) {
  #header .navbar-collapse > ul.navbar-nav {
    margin: auto;
    margin-top: 0;
  }
}

#header .navbar-collapse {
  margin: auto;
  text-align: center;
}

#header .fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  -webkit-animation: smoothScroll 0.5s forwards;
          animation: smoothScroll 0.5s forwards;
  background: white;
  padding: 5px 40px;
  -webkit-box-shadow: 0px 0px 10px #0000002e;
          box-shadow: 0px 0px 10px #0000002e;
}

@media (max-width: 767px) {
  #header .fixed .navbar-collapse {
    margin-bottom: 20px;
  }
}

#header nav {
  padding: 40px 40px;
}

@media (max-width: 768px) {
  #header nav {
    padding: 20px 0px;
  }
}

#header nav ul {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

#header nav ul li a {
  border-radius: 50px;
  padding: 6px 15px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

#header nav ul li a:hover {
  background-color: #fff;
  color: #e1001e;
}

#header .header-content {
  padding: 100px 0px;
  color: white;
}

@media (max-width: 991px) {
  #header .header-content {
    text-align: center;
    padding: 80px 0px;
    padding-top: 40px;
  }
}

#header .header-content h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

#header .header-content p {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  margin-top: 28px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  #header .header-content h2 {
    font-size: 2.4rem;
    line-height: 3rem;
  }
  #header .header-content p {
    font-size: 18px;
    margin-top: 26px;
    margin-bottom: 32px;
  }
}

#section-1 {
  padding-top: 40px;
}

#section-1 .item {
  max-width: 180px;
  margin: auto;
  margin-bottom: 40px;
}

#section-1 .item img {
  margin-bottom: 10px;
}

#section-1 .item p {
  margin: 0;
}

#section-2 {
  padding-top: 40px;
  background: transparent url("../img/flowbig.png") 0% 0% no-repeat padding-box;
  background-position: bottom;
  padding-bottom: 120px;
  margin-bottom: -40px;
  height: 950px;
  overflow: hidden;
}

#section-2 .col-6 {
  position: relative;
}

#section-2 .section-head-part {
  max-width: 1300px;
  margin: auto;
  text-align: center;
}

#section-2 .section-head-part p {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 60px;
}

#section-2 .root-ul.right {
  position: absolute;
  left: 0;
  top: 0;
}

#section-2 .root-ul.left {
  position: absolute;
  right: 0;
  top: 0;
}

#section-2 .root-ul.right li:nth-child(1) {
  margin-left: 100px;
}

#section-2 .root-ul.right li:nth-child(2) {
  margin-left: 200px;
}

#section-2 .root-ul.left li:nth-child(1) {
  margin-right: 100px;
}

#section-2 .root-ul.left li:nth-child(2) {
  margin-right: 200px;
}

#section-2 .root-ul.left li:nth-child(2) .circle-comp {
  padding-top: 20px;
}

#section-2 .root-ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#section-2 .root-ul li {
  padding: -10px 0px;
  border-radius: 50%;
  background-color: #f2f2f2;
  max-width: 220px;
  min-width: 220px;
  min-height: 220px;
  margin: auto;
  margin-bottom: 60px;
  max-height: 220px;
}

@media (max-width: 767px) {
  #section-2 .root-ul li {
    max-width: 173px;
    min-width: 173px;
    min-height: 173px;
    max-height: 173px;
  }
  #section-2 .root-ul li .circle-comp {
    padding: 0px 35px;
    padding-top: 38px;
  }
  #section-2 .root-ul li .circle-comp img {
    height: 40px;
  }
}

#section-2 .root-ul li .circle-comp {
  text-align: center;
  padding: 0px 25px;
  padding-top: 45px;
}

#section-2 .root-ul li .circle-comp p.para2 {
  line-height: 24px;
  margin-top: 15px;
  font-weight: 400;
}

#section-2 .item {
  max-width: 180px;
  margin: auto;
  margin-bottom: 40px;
}

#section-2 .item img {
  margin-bottom: 10px;
}

#section-2 .item p {
  margin: 0;
}

@media (max-width: 991px) {
  #section-2 {
    height: 1050px;
  }
  #section-2 .root-ul.right li:nth-child(1) {
    margin-left: 50px;
  }
  #section-2 .root-ul.right li:nth-child(2) {
    margin-left: 90px;
  }
  #section-2 .root-ul.left li:nth-child(1) {
    margin-right: 50px;
  }
  #section-2 .root-ul.left li:nth-child(2) {
    margin-right: 90px;
  }
  #section-2 .root-ul.left li:nth-child(2) .circle-comp {
    padding-top: 20px;
  }
}

@media (max-width: 767px) {
  #section-2 {
    height: 850px;
  }
  #section-2 .circle-comp {
    padding-top: 32px !important;
  }
  #section-2 .root-ul.left {
    right: -87px;
  }
  #section-2 .root-ul.left li:nth-child(1) {
    margin-right: 50px;
    margin-bottom: 12px;
  }
  #section-2 .root-ul.left li:nth-child(2) {
    margin-right: 90px;
  }
  #section-2 .root-ul.left li:nth-child(2) .circle-comp {
    padding-top: 10px !important;
  }
  #section-2 .root-ul.right {
    left: -2px;
    top: 132px;
  }
  #section-2 .root-ul.right li:nth-child(1) {
    margin-left: 0px;
    margin-bottom: 12px;
  }
  #section-2 .root-ul.right li:nth-child(2) {
    margin-left: 0px;
    left: -38px;
    position: relative;
  }
  #section-2 .root-ul li {
    margin-bottom: 30px;
  }
}

section#section-3 {
  padding: 60px 0px;
  padding-bottom: 70px;
}

section#section-3 .section-head-part {
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

section#section-3 .section-head-part p {
  padding-bottom: 50px;
}

section#section-3 .text-content-card h2 {
  text-decoration: line-through;
}

section#section-3 .text-content-card h2,
section#section-3 .text-content-card p {
  color: #050101;
}

@-webkit-keyframes smoothScroll {
  0% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes smoothScroll {
  0% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

section#overflow-client {
  position: relative;
}

@media (min-width: 992px) {
  section#overflow-client .client-card {
    max-width: 465px;
    position: absolute;
    right: 80px;
    top: -380px;
    width: 450px;
  }
}

@media (max-width: 991px) {
  section#overflow-client .client-card {
    background-color: #f2f2f2;
  }
}

section#overflow-client .card-body {
  position: relative;
  background-color: #fff0e8a3;
  padding: 0px;
  border-radius: 64px 10px 10px 10px;
  padding: 40px 30px;
}

@media (max-width: 991px) {
  section#overflow-client .card-body {
    padding: 10px;
    background-color: #f2f2f2 !important;
  }
}

@media (min-width: 992px) {
  section#overflow-client .card-body .bg-blur {
    height: 200px;
  }
}

section#overflow-client .card-body .wrapper {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 30px;
}

@media (min-width: 992px) {
  section#overflow-client .card-body .wrapper {
    position: absolute;
  }
}

section#overflow-client .card-body .profile-img {
  position: absolute;
  top: -55px;
  right: 20px;
}

section#overflow-client .card-body .machine-img {
  position: absolute;
  height: 250px;
  right: -70px;
  bottom: -50px;
}

@media (max-width: 991px) {
  section#overflow-client .card-body .machine-img {
    display: none;
  }
}

section#overflow-client .card-body .rating {
  margin-bottom: 7px;
}

section#overflow-client .card-body .rating span svg {
  height: 24px;
  width: 24px;
}

section#overflow-client .card-body h4 {
  font: normal normal bold 24px/24px Poppins;
  letter-spacing: 0px;
  color: #050101;
  margin-top: 15px;
  margin-bottom: 15px;
}

section#overflow-client .card-body p {
  font: normal normal normal 16px/24px Poppins;
  letter-spacing: 0px;
  color: #050101;
  margin-bottom: 0;
  margin-top: 7px;
}

section#overflow-client .card-body button {
  margin-top: 7px;
  font: normal normal bold 16px/24px Poppins;
  letter-spacing: 0px;
  color: #e1001e;
  padding: 7px 0 0 0;
  background-color: transparent;
  border: none;
  outline: none;
}

#section-9 {
  background: url("../img/testimonials back.jpg");
  background-position: center;
  background-size: cover;
}

#section-9 .slick-arrow {
  display: none !important;
}

#section-9 .slick-slide {
  outline: none;
  border: none;
}

#section-9 .slick-dots {
  margin-top: 47px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-9 .slick-dots li {
  list-style-type: none;
  border: 3px solid #fff;
  background: transparent;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin: 10px;
}

#section-9 .slick-dots li button {
  visibility: hidden;
}

#section-9 .slick-dots li.slick-active {
  background: #ffffff;
}

#section-9 h3 {
  margin-bottom: 20px;
  font: normal normal bold 90px/90px Poppins;
  letter-spacing: 0px;
}

@media (max-width: 992px) {
  #section-9 h3 {
    font: normal normal bold 48px/54px Poppins;
  }
}

#section-9 .client-cards {
  padding-top: 60px;
}

#section-9 .client-card {
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 3px 3px 12px #5d4b3c64;
          box-shadow: 3px 3px 12px #5d4b3c64;
  border-radius: 20px;
  margin: 6px;
  overflow: hidden;
}

@media (max-width: 992px) {
  #section-9 .client-card {
    margin: 24px;
  }
}

#section-9 .client-card .video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-9 .client-card .video img {
  width: 100%;
  max-width: 100%;
}

#section-9 .client-card .video .icon-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-9 .client-card .video .icon {
  position: relative;
  height: 70px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  background: #ffffff8f;
  -webkit-box-shadow: 3px 3px 6px #00000029;
          box-shadow: 3px 3px 6px #00000029;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

#section-9 .client-card .video .icon svg {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  left: 4px;
  position: relative;
}

#section-9 .client-card .video .icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#section-9 .client-card .video .icon:hover svg {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@media (max-width: 992px) {
  #section-9 .client-card .video .icon {
    height: 54px;
    width: 54px;
  }
  #section-9 .client-card .video .icon svg {
    width: 24px;
    height: 24px;
  }
}

#section-9 .client-card .card-body {
  padding: 40px 30px;
}

#section-9 .client-card .card-body .rating {
  margin-bottom: 10px;
}

#section-9 .client-card .card-body .rating span svg {
  height: 24px;
  width: 24px;
}

#section-9 .client-card .card-body h4 {
  font: normal normal bold 24px/24px Poppins;
  letter-spacing: 0px;
  color: #050101;
  margin-top: 0;
  margin-bottom: 10px;
}

#section-9 .client-card .card-body p {
  font: normal normal normal 16px/24px Poppins;
  letter-spacing: 0px;
  color: #050101;
  margin-bottom: 0;
  margin-top: 7px;
}

#section-9 .client-card .card-body button {
  margin-top: 7px;
  font: normal normal bold 16px/24px Poppins;
  letter-spacing: 0px;
  color: #e1001e;
  padding: 7px 0 0 0;
  background-color: transparent;
  border: none;
  outline: none;
}

#section-10 {
  background-color: #f2f2f2;
}

#section-10 .slider .slider-img {
  overflow: hidden;
}

#section-10 .slider .slider-img img {
  max-width: 100%;
}

#section-10 .slider .slider-thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

#section-10 .slider .slider-thumbnails .slider-thumbnail {
  height: 184px;
  width: 184px;
  position: relative;
  overflow: hidden;
}

#section-10 .slider .slider-thumbnails .slider-thumbnail img {
  max-height: 100%;
}

#section-10 .slider .slider-thumbnails .slider-thumbnail .icon-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-10 .slider .slider-thumbnails .slider-thumbnail .play-icon {
  height: 70px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #ffffff8f;
  -webkit-box-shadow: 3px 3px 6px #00000029;
          box-shadow: 3px 3px 6px #00000029;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

#section-10 .slider .slider-thumbnails .slider-thumbnail .play-icon svg {
  position: relative;
  left: 4px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

#section-10 .slider .slider-thumbnails .slider-thumbnail .play-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#section-10 .slider .slider-thumbnails .slider-thumbnail .play-icon:hover svg {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@media (max-width: 992px) {
  #section-10 .slider .slider-thumbnails .slider-thumbnail .play-icon {
    height: 54px;
    width: 54px;
    line-height: 54px;
  }
  #section-10 .slider .slider-thumbnails .slider-thumbnail .play-icon svg {
    font-size: 24px;
  }
}

#section-10 .add-card-wrapper {
  width: 534px;
}

@media (max-width: 992px) {
  #section-10 .add-card-wrapper {
    width: 100%;
  }
}

#section-10 .rating {
  margin-bottom: 30px;
}

#section-10 .rating .reviews {
  margin-left: 32px;
  font: normal normal normal 24px/30px Poppins;
  letter-spacing: 0px;
  color: #050101;
}

#section-10 .price hr {
  border: 1px solid #afafaf;
  background: #afafaf;
  margin-bottom: 20px;
}

#section-10 .price h3 {
  font: normal normal bold 90px/90px Poppins;
  letter-spacing: 0px;
  color: #050101;
}

#section-10 .price p {
  font: normal normal bold 32px/48px Poppins;
  letter-spacing: 0px;
  color: #050101;
}

#section-10 .price h4 {
  font: normal normal normal 32px/48px Poppins;
  letter-spacing: 0px;
  color: #050101;
}

#section-10 .price button {
  margin-top: 20px;
  margin-bottom: 60px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 203px;
  border: none;
  background: #6ba74b 0% 0% no-repeat padding-box;
  border-radius: 30px 10px 10px 30px;
  font: normal normal bold 18px/90px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
}

#section-10 .price button .dot {
  margin: 0 12px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ffffff 0% 0% no-repeat padding-box;
}

@media (max-width: 992px) {
  #section-10 .price h3 {
    font: normal normal bold 48px/90px Poppins;
  }
  #section-10 .price p {
    font: normal normal bold 24px/36px Poppins;
  }
  #section-10 .price h4 {
    font: normal normal normal 24px/36px Poppins;
  }
  #section-10 .price button {
    font: normal normal bold 18px/90px Poppins;
  }
}

#section-10 .feature-list .list-item {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-10 .feature-list .list-item .icon {
  width: 24px;
  height: 24px;
  margin-right: 24px;
}

#section-10 .feature-list .list-item .text {
  font: normal normal normal 18px/24px Poppins;
  letter-spacing: 0px;
  color: #050101;
  margin-bottom: 0;
}

@media (max-width: 992px) {
  #section-10 .feature-list .list-item .text {
    font: normal normal normal 16px/20px Poppins;
  }
}

#section-10 .options {
  margin: 50px 0;
}

#section-10 .options .option {
  background: #0501010d 0% 0% no-repeat padding-box;
  border-radius: 120px 10px 10px 120px;
  margin-bottom: 10px;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-10 .options .option .icon {
  margin-right: 32px;
  height: 32px;
  width: 32px;
}

#section-10 .options .option .text {
  text-align: left;
  font: normal normal normal 24px/30px Poppins;
}

#section-10 .options .option .price {
  width: 82px;
  text-align: right;
  font: normal normal bold 30px/30px Poppins;
  letter-spacing: 0px;
  color: #050101;
}

@media (max-width: 922px) {
  #section-10 .options .option {
    padding: 24px;
    width: calc(100% + 32px);
  }
  #section-10 .options .option .text {
    font: normal normal normal 18px/24px Poppins;
  }
  #section-10 .options .option .price {
    font: normal normal bold 30px/30px Poppins;
  }
}

#section-10 .add-card-btn {
  width: inherit;
  padding: 23px 0;
  font: normal normal bold 30px/25px Poppins;
  letter-spacing: 0px;
}

@media (max-width: 992px) {
  #section-10 .add-card-btn {
    padding: 14px;
    font: normal normal bold 18px/15px Poppins;
  }
}

#section-12 {
  background: url("../img/section9/bg.jpg");
  background-position: center;
  background-size: cover;
}

#section-12 h3 {
  font: normal normal bold 40px/60px Poppins;
  letter-spacing: 0px;
}

@media (max-width: 992px) {
  #section-12 h3 {
    font: normal normal bold 18px/24px Poppins;
  }
}

#section-12 button {
  padding: 15px 30px;
  font-weight: bold;
  margin-top: 30px;
}

@media (max-width: 992px) {
  #section-12 button {
    font: normal normal bold 24px/25px Poppins;
  }
}

#section-12 img {
  bottom: -97px;
  right: 0;
  max-height: 100%;
}

@media (max-width: 992px) {
  #section-12 img {
    right: unset;
    bottom: -57px;
    left: calc(100% - 166px);
  }
}

#footer .link {
  text-decoration: none;
  font: normal normal normal 16px/30px Poppins;
  letter-spacing: 0px;
}

.f-p {
  padding: 70px 90px;
}

@media (max-width: 992px) {
  .f-p {
    padding: 40px;
  }
}

.mb4 {
  margin-bottom: 20px;
}

.mt-120 {
  margin-top: 120px;
}

.s-px-90 {
  padding-left: 90px;
  padding-right: 90px;
}

@media (max-width: 992px) {
  .s-px-90 {
    padding-left: 0;
    padding-right: 0;
  }
}

.tabs {
  margin-top: 60px;
}

.tab {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 0px 10px;
  -webkit-box-shadow: -1px 1px 2px #05010133;
          box-shadow: -1px 1px 2px #05010133;
  margin-top: 1px;
  width: calc(100% - 20px);
  border-top-width: 0px;
  margin-top: 2px;
}

.tab:first-child {
  border-top-width: 1px;
}

@media (max-width: 992px) {
  .tab .tab-button {
    font: normal normal bold 18px/34px Poppins;
  }
  .tab .tab-body {
    font: normal normal normal 16px/24px Poppins;
  }
}

.tab .tab-body {
  padding: 2px 30px 40px 30px;
  font: normal normal normal 18px/24px Poppins;
  color: #050101;
}

.tab .tab-button {
  text-decoration: none;
  position: relative;
  display: block;
  padding-left: 31px;
  padding-top: 29px;
  padding-bottom: 18px;
  font-weight: 700;
  color: #e1001e;
  padding-right: 20px;
}

.tab .tab-button .caret {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  position: absolute;
  right: 0px;
}

.tab .tab-button .caret svg {
  fill: #e1001e;
}

.tab .tab-button.collapsed {
  color: #050101;
}

.tab .tab-button.collapsed span svg {
  fill: #797979;
}

.tab .tab-button.collapsed .caret {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.clr-p {
  color: #e1001e;
}

.clr-w {
  color: #fff;
}

.clr-d {
  color: #050101;
}
/*# sourceMappingURL=styles.css.map */